@import "../select-weapon-styles";

:host {
  display: inline-block;
}

.weapon-card-container {
  @include corners;
  height: inherit;
  box-sizing: border-box;
  position: relative;
  padding: $weapon-card-padding;

  &.blue {
    background-color: $background-color-blue;
  }

  &.violet {
    background-color: $background-color-violet;
  }
}
