@import "../select-weapon-styles";

:host {
  height: inherit;
  width: inherit;

  .linear-chart-container {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    height: inherit;
    width: inherit;
    border: solid $blue-chart-color 1px;
    box-shadow: 0 0 8px 1px $border-color inset;

    canvas {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
