<div id="laser-stepper-container" (mouseleave)="removeFocus(arrowLeftButton, arrowRightButton)">
  <div class="laser-container">
    <div class="label">{{ label }}</div>

    <button #arrowLeftButton
            class="arrow-left-button"
            laserStepperFocused
            (click)="subtractRound()"><</button>

    <input type="number"
           class="stepper-input"
           [(ngModel)]="rounds"
           disabled>

    <button #arrowRightButton
            class="arrow-right-button"
            laserStepperFocused
            (click)="addRound()">></button>

    <div class="glow-line glow-line-horizontal-left"></div>
    <div class="glow-line glow-line-horizontal-right"></div>
    <div class="glow-line glow-line-vertical-top"></div>
    <div class="glow-line glow-line-vertical-bottom"></div>
  </div>
</div>
