<div class="background"></div>

<div class="select-weapon-container" *ngIf="activeUsers$ | async as activeUsers">
  <div class="flex-container-row first-row">
    <app-cornered-container *ngIf="activeUser$ | async as activeUser">
      <app-select-weapon-card>
        <h2 class="summary-header-line">
          <span>{{ activeUser.name }}</span>
          <span>Money left: $ {{ activeUser.money }}</span>
        </h2>

        <div class="flex-container-row content">
          <div class="table-col">
            <app-armory-list [tableHeader]="scrollingTableHeader"
                             [tableItems]="scrollingTableItems$ | async"
                             (valueChanged)="resetTableSelection($event)"
                             (itemSelected)="this.setSelectedArmory($event)">
            </app-armory-list>
          </div>

          <div *ngIf="armoryMode$ | async as armoryMode"
               class="flex-container-col buttons-col">

            <app-select-weapon-button [label]="armoryMode === armoryModes.WEAPON ? 'Shields' : 'Weapons'"
                                      (click)="toggleArmoryMode()">
            </app-select-weapon-button>

            <div>
              <app-select-weapon-button class="half-width"
                                        label="Buy"
                                        (click)="addArmory(activeUser)">
              </app-select-weapon-button>
              <app-select-weapon-button class="half-width"
                                        label="Sell"
                                        (click)="subtractArmory(activeUser)">
              </app-select-weapon-button>
            </div>

            <app-select-weapon-button [label]="'Done' | isLastUser: activeUsers: activeUser"
                                      (click)="goToNextUser(activeUsers, activeUser)">
            </app-select-weapon-button>
          </div>
        </div>
      </app-select-weapon-card>
    </app-cornered-container>

    <div *ngIf="activeUser$ | async as activeUser" class="appearance-container">
      <app-weapon-information [armoryItem]="selectedArmory"></app-weapon-information>
    </div>
  </div>

  <div *ngIf="(weaponPercentage$ | async) !== null" class="flex-container-row second-row">
    <div class="circle-charts-container">
      <app-cornered-container [dottedBorder]="false" >
        <app-circle-chart [percentageValue]="(weaponPercentage$ | async)"
                          label="Attack"></app-circle-chart>
      </app-cornered-container>

      <app-cornered-container [dottedBorder]="false">
        <app-circle-chart [percentageValue]="100 - (weaponPercentage$ | async)"
                          label="Defence"></app-circle-chart>
      </app-cornered-container>
    </div>

    <app-cornered-container class="user-chart-container" [dottedBorder]="false">
      <div>
        <app-bar-chart [barChartData]="userChartData"
                       [barChartStyle]="userChartStyles.TRANSPARENT"></app-bar-chart>
      </div>
    </app-cornered-container>
  </div>

  <div class="flex-container-row third-row">
    <app-cornered-container [dottedBorder]="false">
      <app-linear-chart></app-linear-chart>
    </app-cornered-container>

    <app-cornered-container>
      <app-bit-numbers [mode]="bitNumberModes.NUMBERS"
                       [orientation]="bitNumbersOrientations.HORIZONTAL"
                       [bitCols]="4"
                       [bitRows]="4"
                       [bitSegments]="6">
      </app-bit-numbers>
    </app-cornered-container>
  </div>

  <div class="left-side-effects">
    <app-bit-numbers class="effects-segment"
                     [mode]="bitNumberModes.POINTS"
                     [orientation]="bitNumbersOrientations.VERTICAL"
                     [bitCols]="6"
                     [bitRows]="2"
                     [bitSegments]="4">
    </app-bit-numbers>

    <app-bit-numbers class="effects-segment"
                     [mode]="bitNumberModes.NUMBERS"
                     [orientation]="bitNumbersOrientations.VERTICAL"
                     [bitCols]="4"
                     [bitRows]="4"
                     [bitSegments]="2">
    </app-bit-numbers>

    <app-bit-numbers class="effects-segment"
                     [mode]="bitNumberModes.POINTS"
                     [orientation]="bitNumbersOrientations.VERTICAL"
                     [bitCols]="2"
                     [bitRows]="10"
                     [bitSegments]="1">
    </app-bit-numbers>
  </div>

  <div class="right-side-effects">
    <div class="cards-and-numbers">
      <div class="empty-cards">
        <app-select-weapon-card [colorMode]="cardColorModes.BLUE"></app-select-weapon-card>
        <app-select-weapon-card [colorMode]="cardColorModes.VIOLET"></app-select-weapon-card>
        <app-select-weapon-card [colorMode]="cardColorModes.VIOLET"></app-select-weapon-card>
        <app-select-weapon-card [colorMode]="cardColorModes.BLUE"></app-select-weapon-card>
        <app-select-weapon-card [colorMode]="cardColorModes.VIOLET"></app-select-weapon-card>
        <app-select-weapon-card [colorMode]="cardColorModes.BLUE"></app-select-weapon-card>
        <app-select-weapon-card [colorMode]="cardColorModes.BLUE"></app-select-weapon-card>
      </div>

      <app-bit-numbers class="effects-segment"
                       [mode]="bitNumberModes.NUMBERS"
                       [orientation]="bitNumbersOrientations.VERTICAL"
                       [bitCols]="2"
                       [bitRows]="7"
                       [bitSegments]="2">
      </app-bit-numbers>
    </div>

    <app-bit-numbers class="effects-segment"
                     [mode]="bitNumberModes.POINTS"
                     [orientation]="bitNumbersOrientations.VERTICAL"
                     [bitCols]="4"
                     [bitRows]="2"
                     [bitSegments]="4">
    </app-bit-numbers>

    <app-bit-numbers class="effects-segment"
                     [mode]="bitNumberModes.NUMBERS"
                     [orientation]="bitNumbersOrientations.VERTICAL"
                     [bitCols]="3"
                     [bitRows]="2"
                     [bitSegments]="3">
    </app-bit-numbers>
  </div>

  <div class="top-effects">
    <app-square-border [repeatX]="46"></app-square-border>
  </div>

  <div class="bottom-effects">
    <app-square-border [repeatX]="46" [hideBigSquares]="true"></app-square-border>
  </div>
</div>
