@import "./select-weapon-styles";

* {
  ::ng-deep {
    font-family: $weapon-font-family;
  }
}

.select-weapon-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background-position-x: center;
  background-image: url("/assets/images/backgrounds/select-weapon.jpg");

  app-cornered-container {
    display: inline-block;

    app-select-weapon-card {
      .content {
        padding: 20px;
      }

      .summary-header-line {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        border-bottom: solid $select-weapon-text-color 1px;
      }

      .table-col {
        width: 650px;
      }

      .buttons-col {
        justify-content: space-between;
        width: 150px;
        padding-left: 20px;

        app-select-weapon-button {
          width: 100%;

          &.half-width {
            width: 50%;
          }
        }
      }
    }
  }
}
