<div class="bar-char-container">
  <div *ngFor="let barChartItem of barChartData; let i = index" class="flex-container-row feature">
    <div class="flex-container-row feature-row">
      <div class="feature-name">{{ barChartItem.featureName }}</div>
      <div class="feature-bar">
        <div class="inner-bar"
             [ngClass]="{ violet: i % 2 === 1 && barChartStyle !== barChartStyles.TRANSPARENT,
                          blue: i % 2 === 0 && barChartStyle !== barChartStyles.TRANSPARENT,
                          transparent: barChartStyle === barChartStyles.TRANSPARENT }"
             appBarCHartLevel
             [barValue]="barChartItem.featureValue"
             [barMaxValue]="barChartItem.featureMaxValue">
        </div>
      </div>
    </div>
  </div>
</div>
