@import "../select-weapon-styles";

:host {
  display: block;
}

.bar-char-container {
  .feature {
    .feature-row {
      width: 100%;
      margin-bottom: 2px;
      align-items: center;

      .feature-name, .feature-bar {
        width: 50%;
        font-size: 18px;
      }

      .feature-bar {
        box-sizing: border-box;
        height: 15px;
        border-right: solid $select-weapon-text-color 2px;

        .inner-bar {
          box-sizing: border-box;
          width: 0;
          height: 100%;
          border-right: solid $select-weapon-text-color 3px;
          transition: width .5s ease-out;

          &.violet {
            background-color: $violet-chart-color;
          }

          &.blue {
            background-color: $blue-chart-color;
          }

          &.transparent {
            background-color: transparent;
            border: solid $blue-chart-color 2px;
            border-right: solid white 5px;
          }
        }
      }
    }
  }
}
