@import '../library-styles';

app-user-box-button {
  box-sizing: border-box;
  width: 100px;
  max-width: 100px;
}

app-user-box-input {
  box-sizing: border-box;

  &.tank-number {
    width: 170px;
    margin-right: 10px;
  }

  &.user-name {
    width: 100%;
  }
}

app-user-box-slider {
  width: 100%;
}

#user-box-container {
  position: relative;
  box-sizing: border-box;
}

#user-box {
  padding: 10px;
  position: relative;
  box-sizing: border-box;
  width: 300px;
  height: 400px;
  background-color: rgba(0, 0, 0, .7);
  box-shadow: 0 0 15px black;
  border-top: solid #F69C6A 1px;
  border-bottom: solid black 3px;
  border-radius: 10px;
  pointer-events: none;
  z-index: 1;
}

#user-box-canvas {
  pointer-events: all;
  position: absolute;
  z-index: 0;
  @include position-zero;
}

.tank-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  display: block;
  opacity: .7;
}
