<div *ngIf="weaponsWithQuantity$ | async as visibleWeapons"
     class="weapon-list-container">
  <app-cornered-container>
    <app-select-weapon-card>
      <h2 class="summary-header-line">Money left: $</h2>
      <div class="flex-container-row">
        <div class="flex-container-row table-col">
          <table>
            <thead>
            <tr class="titles-header-line">
              <td class="name-cell">Weapon</td>
              <td class="price-cell">Price</td>
              <td class="quantity-cell">Quantity</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let weaponWithQuantity of visibleWeapons">
              <td class="name-cell">{{ weaponWithQuantity.weapon.weaponName }}</td>
              <td class="price-cell">$ {{ weaponWithQuantity.weapon.price }}</td>
              <td class="quantity-cell">{{ weaponWithQuantity.quantity }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="flex-container-col slider-row">
          <app-select-weapon-slider [rowsNumber]="weaponsLength"
                                    [visibleRowsNumber]="visibleWeapons.length"
                                    [step]="sliderCurrentStep$ | async"
                                    (scrollingStepChanged)="scrollToItem($event)">
          </app-select-weapon-slider>
        </div>
        <div class="flex-container-col buttons-first-col">
          <app-select-weapon-button label="Top" (click)="scrollToItem(0)"></app-select-weapon-button>
          <app-select-weapon-button class="arrow-up" (click)="scrollDown()"></app-select-weapon-button>
          <app-select-weapon-button class="arrow-down" (click)="scrollUp()"></app-select-weapon-button>
          <app-select-weapon-button label="End" (click)="scrollToItem(weaponsLength - visibleWeapons.length)">
          </app-select-weapon-button>
        </div>
        <div class="flex-container-col buttons-second-col">
          <app-select-weapon-button label="Top"></app-select-weapon-button>
          <div>
            <app-select-weapon-button class="half-width" label="Buy"></app-select-weapon-button>
            <app-select-weapon-button class="half-width" label="Sell"></app-select-weapon-button>
          </div>
          <app-select-weapon-button label="DONE"></app-select-weapon-button>
        </div>
      </div>
    </app-select-weapon-card>
  </app-cornered-container>
</div>
